<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap" rel="stylesheet">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=d719787b-77e7-4c71-947f-aef1414b8c9c&lang=ru_RU" type="text/javascript">
    </script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
</html>
